/* Put your CSS here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.ember-application {
    margin: 20px;
}

@font-face
{
font-family: 'hneuelt';
src: url('../fonts/helveticaneueltstd-cn.eot');
src: url('../fonts/helveticaneueltstd-cn.eot?iefix') format('eot'),
     url('../fonts/helveticaneueltstd-cn.woff') format('woff'),
     url('../fonts/helveticaneueltstd-cn.ttf') format('truetype'),
     url('../fonts/helveticaneueltstd-cn.svg#helvetica') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: 'hneueltcno';
src: url('../fonts/helveticaneueltstd-cno.eot');
src: url('../fonts/helveticaneueltstd-cno.eot?iefix') format('eot'),
     url('../fonts/helveticaneueltstd-cno.woff') format('woff'),
     url('../fonts/helveticaneueltstd-cno.ttf') format('truetype'),
     url('../fonts/helveticaneueltstd-cno.svg#helvetica') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: 'hneueltcn';
src: url('../fonts/helveticaneueltstd-ltcn.eot');
src: url('../fonts/helveticaneueltstd-ltcn.eot?iefix') format('eot'),
     url('../fonts/helveticaneueltstd-ltcn.woff') format('woff'),
     url('../fonts/helveticaneueltstd-ltcn.ttf') format('truetype'),
     url('../fonts/helveticaneueltstd-ltcn.svg#helvetica') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: 'hneueltcnolt';
src: url('../fonts/helveticaneueltstd-ltcno.eot');
src: url('../fonts/helveticaneueltstd-ltcno.eot?iefix') format('eot'),
     url('../fonts/helveticaneueltstd-ltcno.woff') format('woff'),
     url('../fonts/helveticaneueltstd-ltcno.ttf') format('truetype'),
     url('../fonts/helveticaneueltstd-ltcno.svg#helvetica') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: 'hneueltmd';
src: url('../fonts/helveticaneueltstd-mdcn.eot');
src: url('../fonts/helveticaneueltstd-mdcn.eot?iefix') format('eot'),
     url('../fonts/helveticaneueltstd-mdcn.woff') format('woff'),
     url('../fonts/helveticaneueltstd-mdcn.ttf') format('truetype'),
     url('../fonts/helveticaneueltstd-mdcn.svg#helvetica') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: 'hneueltmdo';
src: url('../fonts/helveticaneueltstd-mdcno.eot');
src: url('../fonts/helveticaneueltstd-mdcno.eot?iefix') format('eot'),
     url('../fonts/helveticaneueltstd-mdcno.woff') format('woff'),
     url('../fonts/helveticaneueltstd-mdcno.ttf') format('truetype'),
     url('../fonts/helveticaneueltstd-mdcno.svg#helvetica') format('svg');
font-weight: normal;
font-style: normal;
}